<div class='left maincontent'><div class='lining'>
<h1>MAYDAY</h1>
Can't eject!
</div></div>
<div class='right'>
  <img id='ejectpic' src='/images/crash.jpg' alt='credit: http://www.flickr.com/photos/nonobjective/2251336751/'>
</div>



