<img src='ejectlarge.jpg' style='float:right'>
<h1>EJECT.ME</h1>
<h2>Emergency air travel</h2>
You're going to <%= wikipedia_link(@flights[:outgoing].to_airport) %> on <%= @flights[:outgoing].departs_at.strftime("%a %d %B") %> and returning on <%= @flights[:incoming].departs_at.strftime("%a %d %B") %>. All-in price per person (excluding airport transfers) is <%= number_to_currency(@flights[:outgoing].price + @flights[:incoming].price,:unit=>"£") %>.

